{% extends 'layout.html' %}
{% block extra_js %}
	<script type="text/javascript">
	$(document).ready(function() {
            $('.add').click(function() {
                $('#add_form').modal();  
                return false;    
            });

            $('input[name="submit"]').click(function() {
                $.ajax({
                    url: '/add',
                    type: 'POST',
                    data: {
                         'title': $('input[name="title"]').val(),
                         'description': $('input[name="description"]').val()
                    },
                    success: function(data) {
                        $.modal.close();
                        if (data.error) {
                            alert(data.error);
                        } else {
                            $('#books').prepend(data.html);    
                        }    
                    }
                });
                return false;
            });

            $('a.edit').live('click', function() {

                // the list element 
                var container = $(this).parent().parent().parent();
                
                var content = container.find('.content');
                var edit = container.find('div.edit');
                
                edit.modal();

                book_id = edit.attr('id');

                edit.find('button[type="submit"]').click(function() {
                    
                    edit_title = edit.find('.edit_title').val();
                    edit_desc = edit.find('.edit_desc').val();
   
                    console.log(edit_title);
                    console.log(edit_desc);
                    $.ajax({
                        url: '/update',
                        type: 'POST',
                        data: {
                            'book_id': book_id, 
                            'edit_title': edit_title, 
                            'edit_desc':  edit_desc
                        },
                        success: function(data) {
                            $.modal.close();
                            
                            if (data.error) {
                                alert(data.error);
                            } else if (data.success === true) {
                            
                                //update with new html
                                container.remove();
                                $('#books').prepend(data.html);
                            }
                        }
                    });
   
                    return false;    
                    
                });

                return false;

            });  
        });
	</script>
{% endblock %}

{% block body %}
<form id="add_form" action="/add" method="POST" style="display:none">
    <p>title: <input type="text" name="title"></p>
    <p>description: <input type="text" name="description"></p>
    <input type="submit" name="submit" value="add">
</form>
{% if books %}
<ul id="books">
	{% for book in books %}
        <li> 
            <div class="content">
                <nav id="book_nav">    
                    <a href="" class="edit">[edit]</a>
                    <a href="/finish/{{ book.id }}">[finish]</a>
                    <a href="/remove/{{ book.id }}">[remove]</a>
                </nav> 
                
            <h3>{{ book.title }}</h3>
	    <p class="desc">{{ book.description|urlize }}</p>
	    <time>created: {{ book.created }}</time>
        
            </div> 

            <div class="edit" id="{{ book.id }}" style="display: none;">
                <p><input class="edit_title" type="text" name="edit_title" value="{{ book.title }}"></p>
                <p><textarea class="edit_desc" name="edit_desc">{{ book.description }}</textarea></p>
                <button type="submit">Save</button>
            </div>
            
        </li>
	{% endfor %}
</ul>
{% else %}
    <p><strong>No books! Add some first.</strong></p>
{% endif %}
{% endblock %}
