{% extends 'layout.html' %}
{% block extra_js %}
	<script type="text/javascript">
	$(document).ready(function() {
            $('.add').click(function() {
                $('#add_form').modal();  
                return false;    
            });

            $('input[name="submit"]').click(function() {
                $.ajax({
                    url: '/add',
                    type: 'POST',
                    data: {
                         'title': $('input[name="title"]').val(),
                         'description': $('input[name="description"]').val()
                    },
                    success: function(data) {
                        $.modal.close();
                        if (data.error) {
                            alert(data.error);
                        } else {
                            $('#books').prepend(data.html);    
                        }    
                    }
                });
                return false;
            });

            $('a.edit').live('click', function() {

                // the list element 
                var container = $(this).parent().parent().parent();
                
                var content = container.find('.content');
                var edit = container.find('div.edit');
                
                edit.modal();

                book_id = edit.attr('id');

                edit.find('button[type="submit"]').click(function() {
                    
                    edit_title = edit.find('.edit_title').val();
                    edit_desc = edit.find('.edit_desc').val();
   
                    console.log(edit_title);
                    console.log(edit_desc);
                    $.ajax({
                        url: '/update',
                        type: 'POST',
                        data: {
                            'book_id': book_id, 
                            'edit_title': edit_title, 
                            'edit_desc':  edit_desc
                        },
                        success: function(data) {
                            $.modal.close();
                            
                            if (data.error) {
                                alert(data.error);
                            } else if (data.success === true) {
                            
                                //update with new html
                                container.remove();
                                $('#books').prepend(data.html);
                            }
                        }
                    });
   
                    return false;    
                    
                });

                return false;

            });  
            // when edit is clicked allowed in-place edit for title/desc 
//            $('a.edit').live('click', function() {
//                    
//                console.log('edit was clicked');
//            
//                content = $(this).parent();
//
//                old_html = content.html();
//
//                book_id = content.attr('id');
//                title = content.find('h3').text();
//                desc = content.find('.desc').text();
//                created = content.find('time').text();
//                
//                content.empty();
//                
//                var edit_html = '<div class="edit"><input type="text" name="edit_title" value="'+ title + '"">' + 
//                '<p><textarea name="edit_desc">'+ desc +'</textarea></p>' + 
//                '<button id="save" type="submit">save</button>' + 
//                '<button id="cancel" type="cancel">cancel</button></div>';
//
//                content.html(edit_html);
//
//                content.find('#save').click(function() {
//                    edit_title = content.find('input[name="edit_title"]').val();
//                    edit_desc = content.find('textarea[name="edit_desc"]').val();
//
//                    $.ajax({
//                        url: '/update',
//                        type: 'POST',
//                        data: {
//                            'book_id': book_id, 
//                            'edit_title': edit_title, 
//                            'edit_desc':  edit_desc
//                        },
//                        success: function(data) {
//                            if (data.error) {
//                                alert(data.error);
//                            } else if (data.success === true) {
//                                //update html and flash to signify change
//                                //alert('worked');    
//                            new_html = '<li>' + 
//                                '<div class="content" id="' + book_id + '">' + 
//                                '<h3>' + edit_title + '</h3>' + 
//                                '<a href="#" class="edit">edit</a>' + 
//                                '<p class="desc">' + edit_desc + '</p>' + 
//                                '<time>' + created + '</time> ' + 
//                                '<a href="/finish/' + book_id + '">[finish]</a> ' + 
//                                '<a href="/remove/'+ book_id + '">[remove]</a>' +
//                                '</li>' + 
//                                '</div>';
//                            
//                                content.empty();
//                                content.html(new_html).fadeIn('slow');
//                            }
//                        }
//                    });
//                });
//                
//                content.find('#cancel').click(function() {
//                    content.empty();
//                    content.html(old_html);
//                }); 
//
//                return false;
//            });
//
        });
	</script>
{% endblock %}

{% block body %}
<form id="add_form" action="/add" method="POST" style="display:none">
    <p>title: <input type="text" name="title"></p>
    <p>description: <input type="text" name="description"></p>
    <input type="submit" name="submit" value="add">
</form>
{% if books %}
<ul id="books">
	{% for book in books %}
        <li> 
            <div class="content">
                <nav id="book_nav">    
                    <a href="" class="edit">[edit]</a>
                    <a href="/finish/{{ book.id }}">[finish]</a>
                    <a href="/remove/{{ book.id }}">[remove]</a>
                </nav> 
                
            <h3>{{ book.title }}</h3>
	    <p class="desc">{{ book.description|urlize }}</p>
	    <time>created: {{ book.created }}</time>
        
            </div> 

            <div class="edit" id="{{ book.id }}" style="display: none;">
                <p><input class="edit_title" type="text" name="edit_title" value="{{ book.title }}"></p>
                <p><textarea class="edit_desc" name="edit_desc">{{ book.description }}</textarea></p>
                <button type="submit">Save</button>
            </div>
            
        </li>
	{% endfor %}
</ul>
{% else %}
    <p><strong>No books! Add some first.</strong></p>
{% endif %}
{% endblock %}
