{% extends 'layout.html' %}
{% block extra_js %}
	<script type="text/javascript">
	$(document).ready(function() {
            $('a.add').click(function() {
                $('div.add').modal();  
                return false;    
            });

            $('button[name="add_submit"]').click(function() {
                $.ajax({
                    url: '/add',
                    type: 'POST',
                    data: {
                         'title': $('input[name="title"]').val(),
                         'description': $('textarea[name="description"]').val()
                    },
                    success: function(data) {
                        $.modal.close();
                        if (data.error) {
                            alert(data.error);
                        } else {
                            $('#books').prepend(data.html);    

                            // remove 'no books' text
                            if ($.find('.first_time')) {
                                $('.first_time').css('display', 'none');
                            }    
                        }    
                    }
                });
                return false;
            });

            $('a.edit').live('click', function() {

                // the list element 
                var container = $(this).parent().parent().parent();
                
                var content = container.find('.content');
                var edit = container.find('div.edit');
                
                edit.modal();

                book_id = edit.attr('id');

                edit.find('button[name="edit_submit"]').click(function() {
                    
                    edit_title = edit.find('.edit_title').val();
                    edit_desc = edit.find('.edit_desc').val();
   
                    console.log(edit_title);
                    console.log(edit_desc);
                    $.ajax({
                        url: '/update',
                        type: 'POST',
                        data: {
                            'book_id': book_id, 
                            'edit_title': edit_title, 
                            'edit_desc':  edit_desc
                        },
                        success: function(data) {
                            $.modal.close();
                            
                            if (data.error) {
                                alert(data.error);
                            } else if (data.success === true) {
                            
                                //update with new html
                                container.remove();
                                $('#books').prepend(data.html);
                            }
                        }
                    });
   
                    return false;    
                    
                });

                return false;

            });

            var notify = function(msg) {
                html = '<li class="msg">' + msg + '</li>';
                $('#messages').append(html);
            }

            $('a.remove').live('click', function() {
                    
                var answer = confirm('Sure ya wanna remove this book?');

                container =  $(this).parent().parent().parent();
                book_id = container.find('div.content').attr('id');

                if (answer) {

                    $.ajax({
                        url: '/remove',
                        type: 'POST',
                        data: {
                            'book_id': book_id
                        }, 
                        success: function(data) {

                            // remove old book
                            container.remove();    
                            notify(data.msg);
                        } 
                    });
                }

                return false;
            });
                

            $('a.finish').live('click', function() {
                var answer = confirm('Mark this book finished?');
                
                container =  $(this).parent().parent().parent();
                book_id = container.find('div.content').attr('id');

                if (answer) {

                    $.ajax({
                        url: '/finish',
                        type: 'POST',
                        data: {
                            'book_id': book_id
                        }, 
                        success: function(data) {
                            //mark as finished
                            container.find('span').attr('class', 'finished');
                            notify(data.msg);   
                        } 
                    });
                }

                return false;
            });

            $('li.msg').live('click', function() {
                $(this).css('display', 'none');      
                return false;    
            });
        });
	</script>
{% endblock %}

{% block body %}
<div class="add" style="display:none;">
    <h3>add book</h3>
    <p>
    <strong>Title</strong> 
    <input type="text" name="title">
    </p>
    <p>
    <strong>Description</strong>
    <textarea name="description" rows="10" cols="50"></textarea>
    <span class="helptext"><strong>Help text:</strong> Describe the book. It is often helpful to add cues to remember why this book is important to you and why you want to read it. Links are good too!</span>
    </p>

    <button type="submit" name="add_submit">add</button>
</div>
{% if books %}
<ul id="books">
	{% for book in books %}
        <li> 
            <span class={% if book.finished == 1 %}"finished"{% else %}"reading"{% endif %}></span>

            <div class="content" id="{{ book.id }}">
                <nav id="book_nav">    
                    <a href="#" class="edit" title="edit book">edit |</a>
                    <a href="#" class="finish" title="finish book">finish | </a>
                    <a href="#" class="remove" title="remove book">remove</a>
                </nav> 
                
            <h3>{{ book.title }}</h3>
	    <p class="desc">{{ book.description|urlize }}</p>
            <time>added: <strong>{{ book.created|datetimeformat }}</strong> </time>
        
            </div> 

            <div class="edit" id="{{ book.id }}" style="display: none;">
                <h3>edit book</h3>
                <p>
                <strong>Title</strong>
                <input class="edit_title" type="text" name="edit_title" value="{{ book.title }}">
                </p>
                <p>
                <strong>Description</strong>
                <textarea rows="10" cols="50" class="edit_desc" name="edit_desc">{{ book.description }}</textarea>
                </p>
                <button type="submit" name="edit_submit">save</button>
            </div>
            
        </li>
	{% endfor %}
</ul>
{% else %}
    <p class="first_time" style="margin: 10px 0;"><strong>No books! Add some first.</strong></p>
    <ul id="books"></ul>
{% endif %}
{% endblock %}
